
.jumbo-home {
  background: url(images/car.jpeg) no-repeat center center fixed;
}

.jumbo-parts{
  background: url(images/engine.jpeg) no-repeat center center fixed; 
}

.jumbo-contact {
  background: url(images/engine.jpeg) no-repeat center center fixed; 
}

.jumbo-about {
  background: url(images/mech.jpg) no-repeat center center fixed; 

}

.jumbo{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: white;
  padding : 8%;
  margin-top: 50px;
}

nav {
  margin: 10px;
  padding: 5px;
}

h1, {
  text-shadow: 2px 2px 4px #000000;
}

p {
  text-align: left;
}

body{
	background-color: black;
	margin: auto;
}

.panel {
  background-color: rgba(115, 124, 124, 0.75);
  padding:5%;
}

#find{
	text-align: center;
}


.form{
	background-color: rgba(115, 124, 124, 0.75);
	text-align: center;
	padding-top: 1%;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    
}

.na{
	position: fixed;
}
/*div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}*/