
.jumbo-home {
  background: url(images/car.jpeg) no-repeat center center fixed;
}

.jumbo-parts{
  background: url(images/engine.jpeg) no-repeat center center fixed; 
}

.jumbo-contact {
  background: url(images/engine.jpeg) no-repeat center center fixed; 
}

.jumbo-about {
  background: url(images/mech.jpg) no-repeat center center fixed; 

}

.jumbo{
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: white;
  padding : 8%;
}

.navbar-brand {
  font-family: 'Sonsie One', cursive;
  font-size: 200%;
}

footer {
  padding: 0px 100px 0px 100px;
  color: white;
}

nav {
  margin: 0px 0px 10px 0px;
  padding: 5px;
  font-family: 'Oleo Script', cursive;
  font-size: large;
}

h1{
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Oleo Script', cursive;
}

p {
  text-align: left;
}

body{
	background-color: black;
	margin: auto;
  font-family: 'Quicksand', sans-serif;
}

#results, #trlr, #off, #mtrhme, #car, #mc, #err, #google, #NADAshow {
  display: none;
}

.panel {
  background-color: rgba(115, 124, 124, 0.75);
  padding:5%;
}

#find{
	text-align: center;
}


.form{
	background-color: rgba(115, 124, 124, 0.75);
	text-align: center;
	padding-top: 1%;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.na{
	position: fixed;
}
/*begin login*/
@import "bourbon";

/*body {
  background: #eee !important;  
}
*/
.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
  color: black;
}

.form-signin, .form-signup {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}
  .form-signin-heading,
  .form-signup-heading,
  .checkbox {
    margin-bottom: 30px;
    font-family: 'Oleo Script', cursive;
  }

  .checkbox {
    font-weight: normal;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);

    &:focus {
      z-index: 2;
    }
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/*div.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}*/